# Build and Install artifacts
build/
install/
log/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# ROS logs
.ros/

# Editor / OS files
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
